<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
    <title>Error 404 (Not Found)!!1</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'fantastical_things/css/bootstrap-material-design.min.css' %}"
          type="text/css"/>
</head>

<body>
<a href="//www.google.com/"><span id="logo" aria-label="Google"></span></a>
<p>
    <b>404.</b>
    <ins>That’s an error.</ins>
</p>

<p>The requested URL <code>/sgbhntr</code> was not found on this server.
    <ins>That’s all we know.</ins>
</p>

</body>
</html>