{% block header_content %}
    <header>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'fantastical_things/css/bootstrap-material-design.min.css' %}"
              type="text/css"/>
        <link rel="stylesheet" href="{% static "fantastical_things/css/board_page.css" %}">

    </header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <!-- Navbar title -->
        <li class="navbar-brand">Fantastical Things</li>

        <!-- Navbar collapse button -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar collapse content -->
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">

            <!-- Left links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Private Boards <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Team Boards <span class="sr-only">(current)</span></a>
                </li>

            </ul>

            <!-- Right links -->
            <ul class="navbar-nav mr">
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Log Out<span class="sr-only">(current)</span></a>
                </li>
            </ul>

        </div>
    </nav>
{% endblock header_content %}