{% block main_content %}

    <!-- Board template -->

    <!-- Board Title and Description -->
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48"
             height="48">

        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="lh-100">
                <h2 class="mb-0 text-white lh-100">Board Title</h2>
                <small>Board Description</small>
            </div>

            <div class="btn-group-sm text-right">
                <button type="button" class="btn btn-sm btn-light">Add CardList</button>
                <button type="button" class="btn btn-sm btn-light">Edit Board</button>
            </div>
        </div>

    </div>

    <!-- CardList template -->
    <div class="my-3 p-3 bg-white rounded box-shadow">

        <!-- CardList Title and Description -->

        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="lh-100">
                <h4>CardList Title</h4>
                <p class="lead small">CardList Descriptions</p>
            </div>

            <div class="btn-group-sm text-right">
                <button type="button" class="btn btn-sm btn-primary">Add Card</button>
                <button type="button" class="btn btn-sm btn-primary">Edit CardList</button>
            </div>
        </div>


        <!-- Card template -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray">
                <h6 class=" pb-2 mb-0">Card Name</h6>

                <div class="btn-group-sm text-right">
                    <button type="button" class="btn btn-sm btn-primary">Add Task</button>
                    <button type="button" class="btn btn-sm btn-primary">Edit Card</button>
                </div>
            </div>

            <!-- Task template -->
            <div class="media text-muted pt-3">
                <div class="alert alert-primary" style=" width: 32px; height: 32px;" role="alert">
                </div>

                <div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray ">
                    <div class=" media-body pb-3 mb-0 small lh-125 ">
                        <strong class="text-gray-dark">Task Title</strong>
                        <span class="d-block">Task Description</span>

                    </div>

                    <div class="btn-group-sm text-right">
                        <button type="button" class="btn btn-sm btn-primary">Edit Task</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock main_content %}