{% block main_content %}

    <!-- Board template -->

    <!-- Board Title and Description -->
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48"
             height="48">

        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="lh-100">
                <h2 class="mb-0 text-white lh-100">Board Title</h2>
                <small>Board Description</small>
            </div>

            <div class="btn-group-sm text-right">
                <button type="button" class="btn btn-sm btn-light">Add CardList</button>
                <button type="button" class="btn btn-sm btn-light">Edit Board</button>
            </div>
        </div>

    </div>

    <!-- CardList template -->
    <div class="my-3 p-3 bg-white rounded box-shadow">

        <!-- CardList Title and Description -->

        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="lh-100">
                <h4>CardList Title</h4>
                <p class="lead small">CardList Descriptions</p>
            </div>

            <div class="btn-group-sm text-right">
                <button type="button" class="btn btn-sm btn-primary">Add Card</button>
                <button type="button" class="btn btn-sm btn-primary">Edit CardList</button>
            </div>
        </div>


        <!-- Card template -->
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray">
                <h6 class=" pb-2 mb-0">Card Name</h6>

                <div class="btn-group-sm text-right">
                    <button type="button" class="btn btn-sm btn-primary">Add Task</button>
                    <button type="button" class="btn btn-sm btn-primary">Edit Card</button>
                </div>
            </div>

            <!-- Task template -->
            <div class="media text-muted pt-3">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32"
                     class="mr-2 rounded"
                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_164233390f1%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_164233390f1%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.046875%22%20y%3D%2217.2%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                     data-holder-rendered="true" style="width: 32px; height: 32px;">

                <div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray ">
                    <div class=" media-body pb-3 mb-0 small lh-125 ">
                        <strong class="text-gray-dark">Task Title</strong>
                        <span class="d-block">Task Description</span>

                    </div>

                    <div class="btn-group-sm text-right">
                        <button type="button" class="btn btn-sm btn-primary">Edit Task</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
{% endblock main_content %}